* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:
    radial-gradient(circle at top,
    rgba(0,240,255,0.15),
    transparent),

    #070816;

  color: white;

  font-family: Arial, sans-serif;
}

.hero {
  min-height: 100vh;

  position: relative;

  overflow: hidden;
}

.overlay {
  position: absolute;

  width: 500px;
  height: 500px;

  background:
    radial-gradient(
      circle,
      rgba(0,240,255,0.25),
      transparent
    );

  filter: blur(80px);

  top: -100px;
  left: -100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  position: relative;
  z-index: 2;
}

.navbar h1 {
  font-size: 28px;

  background:
    linear-gradient(
      90deg,
      #00F0FF,
      #7A5FFF,
      #FF00AA
    );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar button {
  border: none;

  padding: 12px 18px;

  border-radius: 14px;

  background:
    linear-gradient(
      90deg,
      #00F0FF,
      #FF00AA
    );

  color: white;

  font-weight: bold;
}

.hero-content {
  text-align: center;

  padding: 140px 20px;

  position: relative;
  z-index: 2;
}

.hero-content h2 {
  font-size: 90px;

  line-height: 0.9;

  margin-bottom: 20px;

  background:
    linear-gradient(
      90deg,
      #00F0FF,
      #7A5FFF,
      #FF00AA
    );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content p {
  max-width: 700px;

  margin: auto;

  color: #B8B8D8;

  font-size: 20px;
}

.buttons {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  gap: 20px;

  flex-wrap: wrap;
}

.buttons button {
  border: none;

  padding: 16px 28px;

  border-radius: 16px;

  font-size: 16px;

  font-weight: bold;

  background:
    linear-gradient(
      90deg,
      #00F0FF,
      #FF00AA
    );

  color: white;
}

.secondary {
  background: transparent !important;

  border:
    1px solid rgba(255,255,255,0.2) !important;
}
